<% title "Confirm Email Address" %>

<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, class: 'l-guest-form form' }) do |f| %>
  <% if resource.errors.count > 0 %>
    <span class="form__error"><%= resource.errors.full_messages.first %></span>
  <% end %>

  <div class="form__control">
    <%= f.email_field :email, autofocus: true, class: "form__control__input" %>
    <%= f.label :email, class: "form__control__label" %>
  </div>

  <div class="form__actions">
    <%= f.submit "Resend confirmation instructions", class: "button--form" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
