<div class="l-app-logo">
  {{#link-to "index" class="logo--app"}}{{/link-to}}
</div>

<aside class="l-app-side">
  Side
</aside>

<div class="l-app-navtoggle">
  {{#if session.isAuthenticated}}
    <a {{ action 'toggleSettings' }}>
      {{#if settingsVisible}}
        Close Settings
      {{else}}
        Open Settings
      {{/if}}
    </a>
  {{/if}}
</div>

<section {{bind-attr class=":l-app-content settingsVisible:is-blurred"}}>
  {{outlet content}}
</section>

{{outlet modal}}
