<section class="l-notebooks">
  <div class="l-notebooks-wrap">
    
    <div id="pdf_url">
      {{{pdfUrl}}}
    </div>
    {{#view App.GridLayoutView}}
      <div class="l-grid-item--page js-grid-item">
        {{#link-to 'notebooks' class="notebook" style=style}}
          {{partial 'partials/notebook'}}
        {{/link-to}}
      </div>
      {{#each pages}}
        <div class="l-grid-item--page js-grid-item">
          {{#view App.GridPageView contentBinding="this"}}
            {{#if controller.touch}}
              {{#link-to 'touch_viewer.page' notebook.id index class="page--grid" classNameBindings="view.isLoading view.isError"}}
                <div {{bind-attr class=":spinner--grid-page view.isLoading::is-hidden"}}>
                  <div class="spinner__icon"></div>
                </div>
                <img {{bind-attr src="view.imageSrc"}} class="page__image">
              {{/link-to}}
            {{else}}
              {{#link-to 'viewer.pages' notebook.id this class="page--grid" classNameBindings="view.isLoading view.isError"}}
                <div {{bind-attr class=":spinner--grid-page view.isLoading::is-hidden"}}>
                  <div class="spinner__icon"></div>
                </div>
                <img {{bind-attr src="view.imageSrc"}} class="page__image">
              {{/link-to}}
            {{/if}}
          {{/view}}
        </div>
      {{/each}}
    {{/view}}

  </div>
</section>
