<h1 class="digitize-header">
  Enter your notebooks code <br>
  <small>Displayed in the back page of your notebook</small>
</h1>
<div class="l-digitize-step">
  <div class="nbpreview l-digitize-preview" {{bind-attr data-paper="paperType" data-color="color"}}>
    <div class="nbpreview__spread">
      <div class="nbpreview__pane--left"></div>
      <div class="nbpreview__pane--right"></div>
    </div>
  </div>
  <form class="form">
    <div {{bind-attr class=":form__control"}}>
      {{input type="text" valueBinding="name" autofocus="autofocus" class="form__control__input"}}
      <label class="form__control__label">Your Notebooks Name</label>
    </div>
    <div {{bind-attr class=":form__control error:is-error"}}>
      {{input type="text" valueBinding="code" class="form__control__input"}}
      <label class="form__control__label">Your Notebooks Code</label>
      {{#if error }}
        <span class="form__error">{{error}}</span>
      {{/if}}
    </div>
    <div class="form__actions--digitize">
      <button class="button--text" {{action 'advance'}}>Next</button>
    </div>
  </form>
</div>
