<h1 class="digitize-header">
  Almost done!<br>
  <small>Here's what happens now....</small>
</h1>
<div class="l-digitize-confirmation">
  <ol class="biglist">
    <li class="biglist__item">
      <div class="biglist__itemcounter">
        <span class="biglist__counter"></span>
      </div>
      <div class="biglist__itemlabel">{{stepOne}}</div>
    </li>
    <li class="biglist__item">
      <div class="biglist__itemcounter">
        <span class="biglist__counter"></span>
      </div>
      <div class="biglist__itemlabel">{{stepTwo}}</div>
    </li>
    <li class="biglist__item">
      <div class="biglist__itemcounter">
        <span class="biglist__counter"></span>
      </div>
      <div class="biglist__itemlabel">{{stepThree}}</div>
    </li>
    <li class="biglist__item">
      <div class="biglist__itemcounter">
        <span class="biglist__counter"></span>
      </div>
      <div class="biglist__itemlabel">{{stepFour}}</div>
    </li>
  </ol>
  {{spin-button isLoading=isLoading buttonText=buttonText action="submit" buttonClass="button--form"}}
</div>
