{{#modal-dialog action="close"}}
  <section class="l-settings">
    <aside class="l-settings-menu">
      <nav class="settingsnav">
        <ul class="settingsnav__list">

          {{#each tabs}}
            <li class="setttingsnav__item">
              <a {{action 'setActiveTab' tabId bubbles=false}} {{bind-attr class=":settingsnav__link active:is-active"}}>
                <div class="settingsnav__linkicon">
                  <i class="{{unbound iconClass}}"></i>
                </div>
                <div class="settingsnav__linklabel">{{name}}</div>
              </a>
            </li>
          {{/each}}
          <li class="setttingsnav__item">
            <a {{ action 'invalidateSession' }} class="settingsnav__link">
              <div class="settingsnav__linkicon">
                <i class="i-settings-logout"></i>
              </div>
              <div class="settingsnav__linklabel">Logout</div>
            </a>
          </li>
        </ul>
      </nav>
    </aside>
    <section class="l-settings-content">
      <div class="l-settings-pane">
        {{#each tab in tabs}}
          <div {{bind-attr class=":l-settings-tab tab.active:is-active"}}>
           {{renderSettingsTab this tab}}
          </div>
        {{/each}}
      </div>
    </section>
  </section>
{{/modal-dialog}}
