<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Mod Notebooks</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "http://fast.fonts.net/cssapi/7650c855-f883-471e-97df-c7366fa30f5d.css" %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "head" %>
</head>
<body class="dark">
  <div class="coming-soon-overlay">
    <div class="cs-center">
      <a class="logo--guest" href="/"></a>
      Coming in 2 weeks. Access from desktop to view your notes.
      <br>
      <a href="http://modnotebooks.com" class="store-link">Go back to store.</a>
    </div>
  </div>

  <main class="l-guest-main">
    <header class="l-guest-header">
      <div class="l-guest-header-left">
        <a class="l-guest-header-back" href="http://modnotebooks.com"><i class="i-chevron-left-xsmall"></i> Back to store</a>
      </div>
      <div class="l-guest-header-right">
        <span class="hidden-inline-xs">Member?</span>
        <%= link_to 'Login', '/login', class: 'button--guest' %>
      </div>
    </header>
    <section class="l-guest-content">
      <section class="l-guest-innercontent">
        <a class="logo--guest" href="/"></a>
        <%= yield %>
      </section>
    </section>
  </main>
</body>
</html>
