<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Mod Notebooks</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "http://fast.fonts.net/cssapi/7650c855-f883-471e-97df-c7366fa30f5d.css" %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "head" %>
</head>
<body>
  <div id="main"></div>
  <div id="settings"></div>

  <%= cdn_jquery %>
  <%= javascript_include_tag "application" %>
</body>
</html>
