<!DOCTYPE html>
<html>
<head>

  <!--
  Designed/Developed by 3DROPS
  w: http://3dro.ps
  e: hello@3dro.ps
  t: @3drops
  -->

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">

  <title>Mod Notebooks</title>

  <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no, minimal-ui">
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag "http://fast.fonts.net/cssapi/7650c855-f883-471e-97df-c7366fa30f5d.css" %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= javascript_include_tag "head" %>
</head>
<body>
  <div id="main" class="l-app-main">
    <header class="l-app-header">
      <div class="l-app-logo">
        <a href="/" class="logo--app"></a>
      </div>
      <aside class="l-side-nav">
        <div class="l-side-nav-item">
          Item
        </div>
      </aside>
      <div class="l-app-navtoggle">
        <a class="settingstoggle">
          <span class="settingstoggle__inner"></span>
        </a>
      </div>
    </header>
    <section class="l-app-content">
      <div style="width: 200px; height: 2000px;"></div>
    </section>
  </div>
<!--   <div id="settings"></div> -->

  <%= cdn_jquery %>
  <%#= javascript_include_tag "application" %>
</body>
</html>
