<!DOCTYPE html>
<html>
<head>
  <title>Mod</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag "http://fast.fonts.net/cssapi/e792a0f8-7d5f-454a-83f8-cfc683cc5a2e.css" %>
  <%= stylesheet_link_tag "application", media: "all" %>
  <%= csrf_meta_tags %>

  <%= javascript_include_tag "head" %>
</head>
<body class="asleep">
  <main id="l-guest-main">
    <section class="l-guest-content">
      <section class="l-guest-innercontent">
        <a class="logo--guest" href="/"></a>
        <%= yield %>
      </section>
    </section>
  </main>
</body>
</html>
